/target/
.classpath
.project
.settings
prepros.cfg
db.backup.gz
*.iml
.idea
src/main/java/br/gov/mj/sislegis/app/rest/authentication/KeyCloakGenerated.java
/bin/
src/main/webapp/WEB-INF/keycloak.json
